@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Sketch&display=swap');

/* Removes Padding and Margins */
* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", serif;
}

body {
    height: 100vh;
}

a {
    all: unset;
    cursor: pointer;
    text-decoration: wavy;
}

/* Styles for the Paragraph */
#my-paragraph {
    font-size: 50px;
}

/* Styles for the Button */
#my-button {
    font-size: 25px;
    width: 100px;
    padding: 10px;
    background-color: rgb(245, 229, 234);
    border-radius: 4px;
    cursor: pointer;
    color: rgb(71, 71, 71);
}

/* Centers the Elements */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    width: 100vw;
    height: 100vh;
}

.inner-div {
    width: 50vw;
    background-color: rgb(215, 215, 241);
}

/* Puts the Elements in a Column */
.flex-column {
    flex-direction: column;
}

#character-img {
    width: 500px;
    height: 500px;
}